<html>
  <head>
    <title>PAGE POTIN</title>
  </head>
  <body>
    <h1>Voici la page du potin n°<%= gossips %></h1>
    <h4>Son auteur : <%= gossips.author %></h4>
    <h4>Le contenu du potin : <%= gossips.content %></h4>
  </body>
</html>